* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #000;
}

.circular-slider {
  width: 200px;
  height: 100px;
  margin: auto;
  perspective: 1000px;
}

.slider-content {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-10deg);
}

.slider-item {
  width: 160px;
  height: 90px;
  position: absolute;
  -webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

.slider-item:nth-child(1) {
  transform: rotateY(0deg) translateZ(173px);
  background: rgba(252, 192, 77, 0.9);
}

.slider-item:nth-child(2) {
  transform: rotateY(60deg) translateZ(173px);
  background: rgba(49, 192, 204, 0.9);

}

.slider-item:nth-child(3) {
  transform: rotateY(120deg) translateZ(173px);
  background: rgba(236, 233, 24, 0.9);

}

.slider-item:nth-child(4) {
  transform: rotateY(180deg) translateZ(173px);
  background: rgba(25, 192, 77, 0.9);
}

.slider-item:nth-child(5) {
  transform: rotateY(240deg) translateZ(173px);
  background: rgba(232, 99, 234, 0.9);
}

.slider-item:nth-child(6) {
  transform: rotateY(300deg) translateZ(173px);
  background: rgba(252, 192, 200, 0.9);
}

